@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --light-color: #63b35d;
  --darker-color: #431d53;
  --dark-color: #4d0b43;
  --secondary-color: #f4bb29;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
html {
  font-family: "poppins", sans-serif;
  font-weight: 300rem;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: white;
}
body {
  font-size: 1.4rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
}

header {
  background: var(--light-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav li {
  font-size: 1.8rem;
  border-bottom: 0.4rem transparent solid;
  transition: 0.3s ease-in-out;
}

nav li:hover {
  border-bottom: 0.4rem var(--secondary-color) solid;
  transition: 0.3s ease-in-out;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}
#student {
  background-color: var(--dark-color);
  padding: 4rem 0;
  border-bottom: 4px solid var(--light-color);
}
.student_image {
  border-radius: 50%;
  overflow: hidden;
}
.student_image,
img {
  width: 180px;
  height: 220px;
}
#student .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.student_content {
  display: grid;
  place-items: center;
}

#student h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hi_text {
  font-size: 6rem;
  font-weight: bold;
  color: var(--secondary-color);
}
.name_text {
  font-size: 5rem;
}
#student h2 {
  font-size: 4rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #f4bb29;
  width: 0;
  animation: typing 5s steps(40, end) forwards, blinking 0.5s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #f4bb29;
  }
  100% {
    border-right-color: transparent;
  }
}
/* PROJECT SECTION */
#project {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
  background: var(--darker-color);
}
#project h2 {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0;
}
.project_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
}
.grid_item {
  display: grid;
  place-items: center;
}
.card {
  border-radius: 0.7rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
.card:hover img {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 10;
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --light-color: #63b35d;
  --darker-color: #431d53;
  --dark-color: #4d0b43;
  --secondary-color: #f4bb29;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
html {
  font-family: "poppins", sans-serif;
  font-weight: 300rem;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: white;
}
body {
  font-size: 1.4rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */

header {
  background: var(--light-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav li {
  font-size: 1.8rem;
  border-bottom: 0.4rem transparent solid;
  transition: 0.3s ease-in-out;
}

nav li:hover {
  border-bottom: 0.4rem var(--secondary-color) solid;
  transition: 0.3s ease-in-out;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}
#student {
  background-color: var(--dark-color);
  padding: 4rem 0;
  border-bottom: 4px solid var(--light-color);
}
.student_image {
  border-radius: 50%;
  overflow: hidden;
}
.student_image,
img {
  width: 180px;
  height: 220px;
}
#student .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.student_content {
  display: grid;
  place-items: center;
}

#student h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hi_text {
  font-size: 6rem;
  font-weight: bold;
  color: var(--secondary-color);
}
.name_text {
  font-size: 5rem;
}
#student h2 {
  font-size: 4rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #f4bb29;
  width: 0;
  animation: typing 5s steps(40, end) forwards, blinking 0.5s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #f4bb29;
  }
  100% {
    border-right-color: transparent;
  }
}
/* PROJECT SECTION */
#project {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
  background: var(--darker-color);
}
#project h2 {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0;
}
.project_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
}
.grid_item {
  display: grid;
  place-items: center;
}
.card {
  border-radius: 0.7rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
.card:hover img {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
.card_content {
  padding: 2rem;
  position: relative;
  top: -6.5rem;
  margin-bottom: -6.5rem;
  transition: 0.5s ease-in-out;
  transform: translateY(100%);
}
.card:hover .card_content {
  background-color: white;
  color: var(--dark-color);
  transform: translateY(0px);
}
.card_content h3 {
  text-align: center;
}

#contact {
  background-color: var(--dark-color);
}

#contact h2 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0;
}

#contact .container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}
